<%= form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :priority, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :priority, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :render_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :render_type, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :render_frame_start, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :render_frame_start, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :render_frame_stop, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :render_frame_stop, :class => 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :render_engine, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :render_engine, :class => 'number_field' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :dot_blend, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :dot_blend, :class => 'file_field' %>
    </div>
  </div>







  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jobs_path, :class => 'btn' %>
  </div>
<% end %>
