<table class="table table-striped table-condensed">
  <caption>Jobs</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Engine</th>
      <th>Compute</th>
      <th>Type</th>
      <th>Node</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%- @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.name, job %></td>
        <td><%= job.render_engine %></td>
        <td><%= job.compute %></td>
        <%- if job.render_type == 'SINGLE' %>
          <td><%= job.render_type %></td>
        <% else %>
          <td>
            <%= job.render_type %> <%= job.render_frame_start %> - <%= job.render_frame_stop %>
          </td>
        <% end %>
        <%- if job.node %>
          <td><%= job.node.name %></td>
        <% else %>
          <td>N/A</td>
        <% end %>
        <td>
          Job: <%= job.status || "N/A" %><br />
          Node: <%= job.node_status || "N/A" %>
        </td>
        <td>
          <div class="btn-group">
            <%- if !job.node %>
              <%= link_to "assign", job_assign_url(job), :class => "btn btn-mini btn-success" %>
            <% end %>
            <%= link_to "delete", job_path(job), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
