<%- model_class = Job -%>
<div class="page-header">
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              job_path(@job),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-mini pull-right' %>
  <%- if !@job.node or @job.status == 'finished' %>
    <%= link_to "reassign to a node", job_reassign_url(@job), :class => "btn btn-mini btn-success" %>
  <% end %>

  <h3><%= @job.name %></h3>

</div>

<table class="table table-bordered">
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:node) %></th>
    <th><%= model_class.human_attribute_name(:node_status) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
    <th><%= model_class.human_attribute_name(:render_type) %></th>
    <th><%= model_class.human_attribute_name(:render_frame_start) %></th>
    <th><%= model_class.human_attribute_name(:render_frame_stop) %></th>
    <th><%= model_class.human_attribute_name(:render_engine) %></th>
    <th><%= model_class.human_attribute_name(:compute) %></th>
    <th><%= model_class.human_attribute_name(:blender_config) %></th>
  </tr>
  <tr>
    <td><%= @job.name %></td>
    <%- if @job.node %>
      <td><%= @job.node.name %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= @job.node_status %></td>
    <td><%= @job.status %></td>
    <td><%= @job.render_type %></td>
    <td><%= @job.render_frame_start %></td>
    <td><%= @job.render_frame_stop %></td>
    <td><%= @job.render_engine %></td>
    <td><%= @job.compute %></td>
    <td><%= link_to @job.blender_config.name, @job.blender_config %></td>
  </tr>
</table>

<br />

<ul class="nav nav-tabs">
  <li class="active"><a href="#console" data-toggle="tab">Console</a></li>
  <li><a href="#renders" data-toggle="tab">Render outputs</a></li>
  <li><a href="#emergency" data-toggle="tab">Emergency</a></li>
</ul>

<div class="tab-content">

  <div class="tab-pane active" id="console">
    <pre><%= @job.log || "No log right now." %></pre>
  </div>

  <div class="tab-pane" id="renders">
    <ul class="thumbnails">
      <%- @job.renders.each do |r| %>
        <li class="span4">
          <a href="<%= r.output %>" class="thumbnail">
            <img src="<%= r.output %>" alt="<%= r.filename %>" />
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="tab-pane" id="emergency">

    If the job isn't updating anymore : please check on the node side
    ! and if the node is really crashed, you can reset here the
    status.

    <br /><br />

    <%= link_to t('Reset statues', :default => t("helpers.links.reset_statues")),
        job_reset_url(@job),
        :data => { :confirm => t('.confirm', :default =>
        t("helpers.links.confirm_reset_job", :default => 'Are you REALLY sure? This can lead to serious problems with your job !')) },
        :class => 'btn btn-danger btn-mini' %>

  </div>

</div>
