<%- model_class = Job -%>
<div class="page-header">
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              job_path(@job),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-mini pull-right' %>
  <h3><%= @job.name %></h3>

</div>

<table class="table table-bordered">
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:node) %></th>
    <th><%= model_class.human_attribute_name(:node_status) %></th>
    <th><%= model_class.human_attribute_name(:status) %></th>
    <th><%= model_class.human_attribute_name(:priority) %></th>
    <th><%= model_class.human_attribute_name(:render_type) %></th>
    <th><%= model_class.human_attribute_name(:render_frame_start) %></th>
    <th><%= model_class.human_attribute_name(:render_frame_stop) %></th>
    <th><%= model_class.human_attribute_name(:render_engine) %></th>
    <th><%= model_class.human_attribute_name(:compute) %></th>
  </tr>
  <tr>
    <td><%= @job.name %></td>
    <%- if @job.node %>
      <td><%= @job.node.name %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= @job.node_status %></td>
    <td><%= @job.status %></td>
    <td><%= @job.priority %></td>
    <td><%= @job.render_type %></td>
    <td><%= @job.render_frame_start %></td>
    <td><%= @job.render_frame_stop %></td>
    <td><%= @job.render_engine %></td>
    <td><%= @job.compute %></td>
  </tr>
</table>

<br />

<div class="row">
  <div class="span12">
    <pre><%= @job.log %></pre>
  </div>
</div>
