<%- model_class = Render -%>
<div class="page-header">
  <h3>Renders for <%= link_to @job.name, @job %></h3>
</div>

<ul class="thumbnails">
  <%- @job.renders.order("created_at DESC").each do |r| %>
    <li class="span3">
      <div class="thumbnail">
        <%= r.id %> - <%= r.created_at %>
        <a href="<%= r.output %>">
          <img src="<%= r.output %>" alt="<%= r.filename %>" />
        </a>
        <p>
          Render time: <%= r.render_time %>
          <br />
          <%= link_to "Show render with log", job_render_url(@job, r), :class => "btn btn-mini" %>
        </p>
      </div>
    </li>
  <% end %>
</ul>
