<div class="row">
  <div class="span12">
    <table class="table table-striped table-condensed">
      <caption>Jobs</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Engine</th>
          <th>Type</th>
          <th>Priority</th>
          <th>Node</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%- @jobs.each do |job| %>
          <tr>
            <td><%= job.name %></td>
            <td><%= job.render_engine %></td>
            <%- if job.render_type == 'SINGLE' %>
              <td><%= job.render_type %></td>
            <% else %>
              <td>
                <%= job.render_type %> <%= job.render_frame_start %> - <%= job.render_frame_stop %>
              </td>
            <% end %>
            <td><%= job.priority %></td>
            <%- if job.node %>
              <td><%= job.node.name %></td>
            <% else %>
              <td>N/A</td>
            <% end %>
            <td>
              Job: <%= job.status || "N/A" %><br />
              Node: <%= job.node_status || "N/A" %>
            </td>
            <td>
              <div class="btn-group">
              <%= link_to "delete", job_path(job), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br />

<div class="row">
  <div class="span12">
    <table class="table table-striped table-condensed">
      <caption>Nodes</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>OS</th>
          <th>Engines</th>
          <th>Last ping</th>
          <th>Blender version</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%- @nodes.each do |node| %>
          <%- if Time.now - node.last_ping > 1.hour %>
            <tr class="row_red">
          <% else %>
            <tr>
          <% end %>
            <td><%= node.name %></td>
            <td><%= node.os %></td>
            <td><%= node.blender_engines %></td>
            <td><%= node.last_ping %></td>
            <td><%= node.blender_version %></td>
            <td>
              <div class="btn-group">
              <%- if node.validated != 1 %>
                <%= link_to "activate", node_activate_url(node), :class => "btn btn-mini btn-success" %>
              <% end %>
              <%= link_to "delete", node_path(node), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
              <%= link_to "pause", node_pause_url(node), :class => "btn btn-mini btn-info" %>
              </div>
            </td>
          </tr>
        <% end %>

        </tr>
      </tbody>
    </table>
  </div>
</div>
